main{
    margin: 30px;
}


.container-form {
    display: grid; 
    grid-template-columns: .65fr 1fr; 
    gap: 50px; 
}

.info-form{
    margin-left: 20px;
}

.info-form h2{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.info-form p{
    margin-top: 50px;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
    text-align: justify;
}

.content-form-foro h3{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.form-foro{
    padding: 0 30px;
}

.content-form{
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}

.input-box label{
    width: 95%;
    color: #000;
    font-weight: bold;
    margin: 5px 0;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box textarea{
    height: 100px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
}

.button-container {
    padding-top: 20px;
    display: inline-block; 
    margin-right: 10px; 
}

.button-container button {
    width: 300px; 
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.button-subir button {
    background-image: linear-gradient(to right, #f39c12, #884ea0);
}

.button-cancelar button {
    background-color: gray;
}

.button-container button:hover {
    background-image: linear-gradient(to right, #884ea0, #f39c12);
}


.button-container {
    text-align: center; 
}


#dropzone {
    padding: 20px;
    background: white;
    border: 2px dashed #333;
    text-align: center;
    cursor: pointer;
    position: relative;
    width: 95%;
}

#dropzone p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#dropzone label {
    display: inline-block;
    border-bottom: 1px solid blue;
    color: blue;
    cursor: pointer;
    margin-top: 10px; 
}

#dropzone input{
    display: none;
}

#dropzone.hover {
    border: 2px solid green; 
    background-color: #f0f0f0;
}

#lista_archivos{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#lista_archivos img{
    height: 100px;
}

@media (max-width:800px) {
    .container-form {
        display: block; 
    }

    .info-form {
        margin-right: 0; 
        margin-bottom: 20px;
    }
}