.repositorio_table{
    width: 100%;
    padding: 15px;
    table-layout: fixed;
}


.td_content{
    text-align: left;
    font-size: 15px;
    word-wrap: break-word;
    width: 60%;
}

.td_titles{
    text-align: left;
    display: flex;
    font-size: 15px;
    padding: 10px 0 10px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
    font-weight: bold;
}

.td_decrip{
    text-align: justify;
}

.td_row{
    width: 15%;
}

.td_download {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.td_img {
    display: block;
    width: 70px;
    height: 70px;;
}

.container_repo {
    padding-top: 0;
}

.a_container{
    text-align: right;
}

.cta_repo{
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .repositorio_table td, 
    .repositorio_table th {
        display: block;
        width: 100%;
    }

    .td_row {
        display: none;
    }

    .repositorio_table tr {
        display: flex;
        flex-direction: column;
    }

    .td_download {
        display: block;
        text-align: center;
        padding-top: 15px;
    }
}

